<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Explorer</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <!-- API Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm5iaWomPausHjMbXF-9vbl7VR-9rExGM&callback=initMap" async defer></script>
</head>
<body>
    <h1>Local Explorer</h1>
    <div id="app">
        <button id="get-activities">Trouver des activités</button>
        
        <div id="weather-info" style="display: none;">
            <h2>Météo actuelle :</h2>
            <p id="weather-description"></p>
            <p id="temperature"></p>
        </div>
        <div id="time-info" style="display: none;">
            <h2>Heure actuelle :</h2>
            <p id="current-time"></p> <!-- L'heure sera mise à jour ici -->
        </div>
        
        <div id="geo-info" style="display: none;">
            <h2>Coordonées :</h2>
            <p id="latitude"></p>
            <p id="longitude"></p>
        </div>
        <div id="activities-section" style="display: none;">
            <h2>Activités suggérées :</h2>
            <ul id="activities"></ul>
        </div>
        <div id="map"></div> <!-- Div pour afficher la carte -->
    </div>
    <script src="/static/js/scripts.js"></script> <!-- Lien vers le fichier JavaScript -->
</body>
</html>
